.statistics-view {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(232, 250, 178);
  box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
}

.statistics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic-button {
  width: 200px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
}

.large-text {
  padding: 2rem;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
}

.statistics-title {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: xx-large;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
}

.statistics-wrapper {
  width: 100%;
  height: auto;
  background-color: rgb(232, 250, 178);
  display: flex;
  flex-direction: column;
}
.statistics-mission-text {
  width: 100%;
  font-size: x-large;
  text-transform: uppercase;
  text-align: center;
}
.statistics-text {
}
.statistics-bold {
  font-weight: 700;
}

.statistics-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 2rem;
  justify-content: space-around;
}

.statistics-cards-container p {
  line-height: 32px;
}

.statistics-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 10px 7px rgba(34, 60, 80, 0.2);
  text-align: center;
}
.statistics-icon {
  width: 8rem;
  height: 8rem;
  /* padding: 1rem; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.statistics-indicator {
  font-weight: 700;
  font-size: 32px;
  margin-left: 0.5rem;
}
.manual-icon {
  background-image: url('../assets/images/favorite-site.svg');
}
.sprint-statistics-icon {
  background-image: url('../assets//images/stopwatch.svg');
}
.audiocall-icon {
  background-image: url('../assets/images/call.svg');
}

.statistics-icon {
  padding-top: 2rem;
}
