.statistics-view {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgb(232, 250, 178);
  box-shadow: 0 0 5px 5px rgba(34, 60, 80, 0.2);
}

.statistics-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statistic-button {
  width: 200px;
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
}

.large-text {
  padding: 2rem;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
}

.statistics-title {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}