/*statistic*/
:root {
  --statistic-background: rgb(235, 183, 88);
  --statistic-background-2: rgb(245, 213, 154);
}

.statistic-game1 {
  background-color: var(--statistic-background);
  border-radius: 25%;
  padding: 1rem;
  min-width: 480px;
}

.row-2 {
  background-color: var(--statistic-background-2);
}

.key-game1,
.from-key {
  font-style: italic;
  padding-top: 15px;
}

table .statistic-game1 {
  border-spacing: 0;
}

.game1-results th {
  margin: 0.5rem;
}

.correct-word {
  margin: 50px;
}

.game1-results {
  display: flex;
  justify-content: space-between;
}

.center {
  margin-left: 45%;
}

.userAudioCall:hover {
  box-shadow: 2px 5px 3px;
}
