@import './css/home.css';
@import './css/manual.css';
@import './css/login.css';
@import './css/audiocall.css';
@import './css/sprint.css';
@import './css/statistics.css';


* {
  box-sizing: border-box;
}

:root {
  /* add global variables here */
}

html {
  overflow-x: hidden;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

.body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;  
  background-image: url();
  background-size: cover;
  background-position: center;    
}

.hide {
  display: none;
}

a {
  text-decoration: none;
}

.blur {
  backdrop-filter: blur(5px);
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {  
  width: 100%;
  min-height: 3rem;  
  margin-top: auto;
  padding: 1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}
.logo {
  width: 7rem;  
  padding: 0.5rem;
}
.footer a {
  text-decoration: none;
  color:white;
  text-shadow: 1px 1px black;
  display: block;
}
